<h1>Hoe maak je nou een rekening?</h1>
<p>Heel simpel, vul hieronder je naam in en klik op start!</p>
<%= form_for @bill do |f| %>
  <p><%= f.text_field :name %></p>
  <p><%= f.submit %></p>
<% end %>